*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    perspective: 600px;
    background-color: rgb(3, 184, 255);
}

.cards {
    overflow: auto;
    margin-left: 200px;
    margin-top: 30px;
   
}

.card {
    transform-style: preserve-3d;
    position: relative;
    transition: 2s;
    float: left;
    margin:20px;
}
.card , .front , .back{
    width: 200px;
    height: 250px;
}
.front , .back{
    position: absolute;
}
.front {

    backface-visibility: hidden;
    z-index: 1;

}
.front img{
    border-radius: 5px;
    border: 2px solid blue;
}

.card:hover {
    transform: rotatey(180deg);
    transition: 1.5s;
    cursor: pointer;
}

.back {
    transform: rotatey(180deg);
    border-radius: 5px;
    border: 2px solid blue;
    text-align: center;
    background-color: antiquewhite;
}
.back a{
    text-decoration: none;
    text-transform: uppercase;
}
.back p{
    padding-bottom: 15px;
}