*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #90e0ef;
    font-family:Arial, Helvetica, sans-serif;
}
.products div{
display: flex;
list-style: none;
justify-content: center;
align-items: start;
justify-content: space-between;
padding: 10px 120px;
}

.products div img{
    display: block;
    margin-bottom: 8px;
    border: 1.5px solid #0077b6;
    border-radius: 2px;
}
.products div i{
    color: #00b4d8;
}
.c{
justify-content: center;
text-align: center;
margin-top: 15px;
}
#btn{
 margin: auto;
 border: 2px solid black;
 padding: 5px 30px;
 border-radius: 5px;
 margin-top: 12px;
 margin-bottom: 12px;
}
#show-price{
    border: 1px solid black;
    width: 90px;
    margin: auto;
}
