*{
    margin: 0px;
}
.div_1{
    background-color: rgb(132, 146, 159);
    float: left;
    width: 250px;
    height: 600px;
    color: white;

}
.div_2{
    color: black;
    float: left;
}
.div_3{
    margin-left: 70px;
    margin-top: 20px;
}
.a{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.Add1{
       text-align: center;
       border:1.5px solid black;
       border-radius: 5px;
       width: 920px;
}
.btn{
    height: 30px;
    width: 140px;
    background-color:rgb(132, 146, 159);

    border: none;
    color: aliceblue;
    border-radius: 3px;
    margin-top: 20px;
}
.div_4{
   margin-left: 45%;
   margin-top: 30px;
}
.inp{
    width: 300px;
    height: 25px;
}
.in1{
margin: 10px;
}
.z{
    color: azure;
}
.x{
    margin-bottom: 5px;
}
.hov1:hover{
  font-size: 20px;
  background-color: rgb(201, 211, 219);
}
.Add1:hover{
    background-color:rgb(132, 146, 159) ;
}
.in2:hover{
background-color: rgb(224, 229, 233);
}
.x{
    background-color: rgb(201, 211, 219) ;
    font-size:20px ;
}